* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #050505;
    color: #00ff9c;
    font-family: "Courier New", monospace;
}

/* Centraliza tudo */
.terminal,
.arquivo {
    width: 90%;
    max-width: 380px;
    margin: 15vh auto;
    border: 2px solid #00ff9c;
    padding: 20px;
    box-shadow: 0 0 25px #00ff9c;
    background-color: #000;
}

/* Títulos */
h1 {
    font-size: 20px;
    letter-spacing: 2px;
}

/* Texto */
p,
li {
    font-size: 14px;
    line-height: 1.4;
}

/* Campo de código */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: black;
    color: #00ff9c;
    border: 1px solid #00ff9c;
    font-size: 16px;
}

/* Botão */
button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    background-color: black;
    color: #00ff9c;
    border: 1px solid #00ff9c;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff9c;
    color: black;
}

/* Mensagem de erro */
#mensagem {
    margin-top: 10px;
    color: red;
}

/* Lista de arquivos */
ul {
    text-align: left;
    padding-left: 20px;
}