body {
    margin: 0;
    background-color: #020202;
    font-family: "Courier New", monospace;
    color: #00ff9c;
}

/* Área do desktop */
.desktop {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 200px;
    width: max-content;
}

/* Ícones */
.icone {
    width: 90px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #00ff9c;
    padding: 10px;
    box-shadow: 0 0 10px #00ff9c;
}

/* Janela */
.janela {
    display: none;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    max-width: 400px;
    background: black;
    border: 2px solid #00ff9c;
    box-shadow: 0 0 20px #00ff9c;
}

/* Topo da janela */
.topo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #00ff9c;
}

/* Conteúdo */
.conteudo {
    padding: 15px;
    font-size: 14px;
}